jupyterlab
scikit-learn
pandas
matplotlib
pydot # For model visualisation
# conda install graphviz
tqdm # for progress bar
shap # for explanations
seaborn # for heatmaps

# For Git with Jupyterlab
# pip install --upgrade jupyterlab jupyterlab-git

# # Tensorflow
# conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0
# # Anything above 2.10 is not supported on the GPU on Windows Native
# python -m pip install "tensorflow<2.11"
# # Verify the installation:
# python -c "import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))"

